.output {
  border: 1px solid transparent;
  cursor: pointer;
}
  .output:hover {
    background-color: ivory;
    border-color: gold;
  }
  .output-text {
    display: block;
  }
  .output-name {
    color: gray;
    font-size: 0.7em;
  }

#clipboard {
  position: absolute;
  right: 100vw;
  top: 0;
}

#message {
  background-color: mintcream;
  bottom: 1em;
  border-color: green;
  border-radius: 0.2em;
  border-style: solid;
  border-width: 1px;
  color: green;
  left: 0;
  margin: auto;
  opacity: 0;
  padding: 0.2em 1em;
  position: fixed;
  right: 0;
  transition: opacity 200ms, transform 200ms;
  width: 50%;
}
  #message[data-visible="true"] {
    opacity: 1;
    transform: translateY(-0.2em);
  }
